altair
pandas
streamlit==1.40.0
numpy==1.25.0
opencv-python
pandas
streamlit-drawable-canvas==0.8.0
pillow
torch==1.12.1
psutil
matplotlib
pyyaml
tqdm
torchvision==0.13.1
shapely
scipy
editdistance
dill
py-cpuinfo
